<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Interfone</title>

    <!-- Bootstrap core CSS -->
    <!--link href="/../../dist/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="../static/estilo.css">

  </head>

  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Interfone</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="camera">Camera</a></li>
                <li class="active"><a href="contato">Contato</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
    <h1 class = 'titulo'>DESENVOLVEDORES</h1>
    <div class="section">
      <center>
        <p>
          O projeto foi desenvolvido por:
        </p>
        <p>
          Claudio Marcio Cardoso Aires e Fernando Camargo de Andrade
        </p>
        <p>
          Essa foi a nossa primeira experiência com as linguagens de web, python e android, logo além de todos os problemas enfretados, tivermos de aprender tudo que foi usado nesse projeto, no começo do mesmo. O desafio se mostrou interessante já que conseguimos um bom resultado apesar das limitações impostas pela galileo.
        </p>
        <p>
          Foi um importante primeiro passo para nós, já que ambos temos o desejo de seguir na área de internet das coisas(IoT), e essa aplicação apesar de limitada se mostrou bastante útil em nos confrontar e mostrar os desafios e recompensas da área.
        </p>
      </center>

    </div>
    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--script src="/../../dist/js/bootstrap.min.js"></script-->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
