<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Interfone</title>

    <!-- Bootstrap core CSS -->
    <!--link href="/../../dist/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="../static/estilo.css">

  </head>

  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Interfone</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="camera">Camera</a></li>
                <li><a href="contato">Contato</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
    <h1 class = 'titulo'>O PROJETO</h1>
    <div class="section">
      <center>
        <p>
          A ideia inicial do trabalho era produzir um interfone diferentes dos modelos comuns. Utilizaríamos a câmera para filmar a frente da casa, e apartir do momento que a campanhia fosse tocada, um aplicativo no celular receberia uma notificação que informaria o usuário que alguém está chamando na sua casa. Ao abrir o aplicativo o usuário teria acesso as imagens e ainda poderia caso desejasse enviar e receber aúdios de modo a tornar possível a comunicação entre ambas as partes. Por limitacações impostas pela Galileo, não foi possível a implementacação das outras funcionalidades além da câmera.
        </p>
        <p>
          A câmera foi implementada de modo a simular um streaming de vídeo, de forma a possibilitar o mais de um usuário acessando por vez a imagem. Isso já foi o suficiente para o sobrecarregamento do sistema e a impossibilitação do restante.
        </p>
      
      </center>
    </div>

    <h2 class = 'titulo'>Cronograma</h2>
    <img src="../static/Untitled-2.jpg" alt="Cronograma">

    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--script src="/../../dist/js/bootstrap.min.js"></script-->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
